<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" style="color:darkred; font-size: 22px" translate>COURSE MANAGEMENT</h3>
  </div>
  <div class="panel-body">
    <button type="button" class="btn btn-danger" [routerLink]="'/courses/add'" translate>Add course</button>
      <table class="table table-hover" style="margin-top: 10px">
        <thead>
        <tr>
          <th>#</th>
          <th translate>Name</th>
          <th translate>Price</th>
          <th translate>Description</th>
          <th><p translate>Create time</p><p>(DD/MM/YYYY)</p></th>
          <th translate>Status</th>
          <th translate>Setting</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of courses; let i = index">
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price | currency}}</td>
          <td>{{item.description}}</td>
          <td>{{item.createAt | dateConvert}}</td>
          <td [style.color]="item.status ? 'blue' : 'red'">{{item.status ? 'On stock' : 'Sold out'}}</td>
          <td>
              <button class="btn btn-primary" type="button" style="margin-right: 10px" [routerLink]="[item.id,'edit']" translate>Edit</button>
              <button type="button" class="btn btn-danger" (click)="onDelete(item.id)" translate >Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
  </div>
</div>

