*{
	font-family: 'Quicksand', san-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color:#f0f0f0;
}

.clear{
	clear:both;
}
.container{
	background:#f0f0f0;
	width: 1263px;
	margin: auto;
	/*border: 1px solid red;*/
	color:#4F4F7A;
}
/*Start header*/
.header{
	width:100%;
	background-color: #2c3640;
}
.header-content{
	width:1263px;
	margin:auto;
	position: relative;
}
.header-intro{
	width: 100%;
    height: 85px;
    background-color: #2c3640;
}
.header-hotline{
	width:10%;
    margin-left: 25px;
    margin-top: 12px;
    float: left;
}
.header-hotline i{
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #58b3f0;
    padding-left: 8px;
    padding-top: 5px;
    color:white;
}
.header-hotline p{
	margin-top: -31px;
    margin-left: 47px;
    color:white;
    font-size:20px;
}
.header-logo{
	width:45%;
	float:left;
	padding-top: 4px;
	cursor:pointer;
}
.header-logo a{
	text-decoration:none;
}
.header-logo p{
	margin-left: 383px;
	padding-top: 5px;
	width: 265px;
	height: 75px;
	background-color: #2c3640;
	color: #e0ba79;
	border: 3px solid #e0ba79;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
.header-search{
	width:20%;
	float:left;
	position: absolute;
	left: 73%;
}
.header-search input{
	border-radius: 5px;
    width: 88%;
    height: 32px;
    margin-top: 22px;
}
.header-search i {
	font-size: 25px;
	color: white;
	cursor:pointer;
}
.header-user{
	float:left;
	position: absolute;
	left: 92%;
}
.header-user i{
	font-size: 35px;
    margin-top: 20px;
    padding-left: 20px;
    color: white;
    cursor:pointer;
}
.header-cart{
	float:left;
	position: absolute;
	left: 1199px;
}
.header-cart i{
	font-size: 35px;
    margin-top: 20px;
    padding-left: 20px;
    color: white;
    cursor:pointer;
}

   /*Menu*/
.menu{
	width:100%;
}
.menu ul{
	list-style:none;
	text-align:center;
}
.menu ul li{
	width: 180px;
	height: 65px;
	line-height: 65px;
	position: relative;
	display: inline-table;
	z-index:1;
}
.menu ul li a{
	text-decoration:none;
	display: block;
	color: white;
	font-weight: bold;
	font-size: 19px;
}
.menu ul li ul {
	position: absolute;
	display: none;
}
.menu ul li:hover > ul{
	display: block;
	background-color: #2c3640;
	opacity: 0.8;
}
.menu ul li:hover a{
	color:white;
}
.menu ul li ul li:hover a{
	opacity:0.6;
	color:white;
}

   /*End Menu*/
/*Start header*/

/*Start detail*/
.product-link{
    font-size: 18px;
    width: 1263px;
    height: 40px;
    margin-top:30px;
}
.product-link  a{
	text-decoration:none;
}
.detail{
	width:100%;
	margin-top:35px;
}
.detail-content{
	width:100%;
	height:auto;
}
.detail-tiny-image{
	width: 10%;
	float:left;
}
.tiny-image-item{
	width: 100%;
	padding-left: 15px;
}
.tiny-image-item img{
	width:100%;
	height:auto;
	margin-bottom:20px;
	cursor:pointer;
	border:2px solid #80808045;
}
.tiny-image-item img:hover{
	opacity:0.7;
	border:2px solid #c77e7e;
}
.detail-main-image{
	float:left;
	width: 50%;
	margin-left: 15px;
}
.detail-main-image img{
	width:100%;
	height:540px;
	border:2px solid #80808045;
}
.detail-cart{
	width:35%;
	float:left;
	margin-left: 40px;
}
.detail-cart h2{
	margin-bottom:15px;
}
.detail-cart-price{
	width:100%;
	font-size:19px;
}
.detail-cart-price span{
	font-size:25px;
	color: #595981;
}
.detail-cart-status p{
	margin-top:7px;
}
.detail-line{
	width:90%;
	height:1px;
	background:grey;
	margin:15px 30px;
}
.detail-cart-size{
	width:100%;
	font-size:19px;
	margin-bottom: 15px;
}
#guide-size{
	margin-left:10px;
}
.size-number{
	margin-top:10px;
}
.size-number input{
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.size-number input:hover{
	background: #1c2632;
    color: white;
}
.detail-cart-color{
	width:100%;
	height:auto;
}
.detail-cart-color span{
	font-size:19px;
}
.image-color img{
	width: 25%;
	height:auto;
	margin: 18px 0px 20px 0px;
	cursor:pointer;
}
.detail-cart-amount{
	margin-bottom:30px;
}
.detail-cart-amount input{
	width: 25px;
    height: auto;
    cursor:pointer;
}
.add-cart{
	margin-top:30px;
}
.add-cart input{
	width:100%;
	height:55px;
	font-size:20px;
	cursor:pointer;
}
/*End detail*/

/*Start description*/

.description{
	width:100%;
	margin-top:100px;
}
.description h3{
	font-size:35px;
	font-weight:bold;
	text-align:center;
	margin-bottom:30px;
}
.description-text{
	width:50%;
	float:left;
	font-size:19px;
	text-align:justify;
	margin-left: 30px;
}
.description-img{
	float:left;
	width: 35%;
}
.description-img img{
	width: 520px;
	height:auto;
	margin-left: 30px;
}



/*End description*/

/*Start recommend*/
.recommend{
	width:100%;
	margin-top:100px;
}
.recommend h3{
	font-size:35px;
	font-weight:bold;
	text-align:center;
	margin-bottom:30px;
}

.product-item-content{
    width: 300px;
    height: 340px;
    float: left;
    position: relative;
    margin: 6px;
}
.product-item-content img{
    width: 300px;
    height: 222px;
    margin-left: 15px;
}
.product-item-content p{
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    cursor:pointer;
}
.product-item-content input{
	position:absolute;
	top:34%;
	left:50%;
	transform: translate(-50% ,-50%);
	border-radius: 5px;
	width: 105px;
	height: 45px;
	font-size: 15px;
	text-align: center;
	background: #635f5fed;
	border: none;
	display:none;
	cursor:pointer;
	color: wheat;
}
.product-item-content:hover input{
	display:block;
}
.product-item-content:hover img{
	opacity:0.6;
}
.product-item-content .product-item-price{
	text-align:center;
	padding-top: 5px;
    text-align: center;
    font-size: 20px;
}
/*End recommend*/

/*Start comment*/

.comment{
	width:100%;
	margin-top:70px;
	font-size:20px;
}
.comment h3{
	font-size:35px;
	font-weight:bold;
	text-align:center;
	margin-bottom:30px;
}
.comment-header{
	width:100%;
	margin:auto;
	display: flex;
}
.comment-rate{
	width:30%;
	height:130px;
	padding-left:10px;
	text-align:center;
	margin-left: 75px;
}
.comment-rate i{
	padding-left:3px;
}
.comment-progress{
	width:30%;
	height:130px;
	padding-left:10px;
}
.progress-item{
	float:left;
}
.progress-item p{
	float:left;
	padding-right: 15px;
}
.progress-item i{
	margin-left:5px;
}
.item-rate{
	width: 285px;
	height:20px;
	background:#4F4F60;
	float:left;
	border-radius:10px;
}
.blank-rate{
	border:1px solid #4F4F60;
	background:white;
}
.your-comment{
	width:30%;
	height:130px;
	padding-left:10px;
	text-align:center;
}
.your-comment p{
  padding: 10px 0px 5px 0px;
}
.write-comment{
	background:#4F4F60;
	color:white;
    width: 90%;
    margin: auto;
    height: 40px;
    border-radius: 7px;
    cursor:pointer;
}
.write-comment:hover{
	opacity:0.7;
}
.write-comment p{
	padding:7px 0px 5px 0px;
}
.comment-content{
	width:85%;
	margin:auto;
	margin-top:35px;
}
.comment-avatar{
	float:left;
	width:18%;
	text-align:center;
}
.comment-avatar img{
	width:70px;
	height:70px;
}
.customer-comment{
	float:left;
	width:70%;
}
.customer-review{
	margin-bottom: 8px;
}
.customer-like{
	display:flex;
}
.customer-like i{
	margin-left: 40px;
	width: 53px;
	height: 29px;
	font-size: 18px;
	text-align: center;
	border-radius: 6px;
	padding-top: 6px;
	background:#4F4F60;
	color:white;
	cursor:pointer;
}
.customer-like span{
	cursor:pointer;
	padding-left:20px;
}

/*End comment*/

/*Start footer*/
.footer{
	margin-top: 50px;
	width: 100%;
	background-color:#1c2632;
}
.footer-content{
	width: 1263px;
	height:300px;
	margin:auto;
}
.footer-content p{
	font-size:16px;
	line-height: 37px;
}
.footer-item{
	width:21%;
	float:left;
	color:white;
	padding: 20px 0px;
	margin: 0px 27px;
}
.footer-item:last-child{
	margin:0px;
}
.footer-item h3{
	font-size:22px;
	margin-bottom:15px;
	color:wheat;
}
.footer-icon{
	float:left;
}
.footer-icon i{
	font-size: 35px;
	padding: 7px 6px;
}
.footer-item{
	position :relative;
}
.footer img{
	position:absolute;
	top: 165px;
	left: 0px;
}
.facebook-footer{
	width:300px;
	height: 230px;
	background:red;
}

/*End footer*/



 





