*{
	font-family: 'Quicksand', san-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.clear{
	clear:both;
}
body,html{
	background-color:white;
	width:100%;
	height:100%;
}
.container{
	background-color:#f0f0f0;
	width: 1263px;
	height:auto;
	margin: auto;
}
/*Start header*/
.header{
	width:100%;
	background-color: #2c3640;
}
.header-content{
	width:1263px;
	margin:auto;
	position: relative;
}
.header-intro{
	width: 100%;
    height: 85px;
    background-color: #2c3640;
}
.header-hotline{
	width:10%;
    margin-left: 25px;
    margin-top: 12px;
    float: left;
}
.header-hotline i{
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #58b3f0;
    padding-left: 8px;
    padding-top: 5px;
    color:white;
}
.header-hotline p{
	margin-top: -31px;
    margin-left: 47px;
    color:white;
    font-size:20px;
}
.header-logo{
	width:45%;
	float:left;
	padding-top: 4px;
	cursor:pointer;
}
.header-logo a{
	text-decoration:none;
}
.header-logo p{
	margin-left: 333px;
	padding-top: 5px;
	width: 265px;
	height: 75px;
	background-color: #2c3640;
	color: #e0ba79;
	border: 3px solid #e0ba79;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
.header-search{
	width:20%;
	float:left;
	position: absolute;
	left: 70%;
}
.header-search input{
	border-radius: 5px;
    width: 88%;
    height: 32px;
    margin-top: 22px;
}
.header-search i {
	font-size: 25px;
	color: white;
	cursor:pointer;
}
.header-user{
	float:left;
	position: absolute;
	left: 88%;
}
.header-user i{
	font-size: 35px;
    margin-top: 20px;
    padding-left: 20px;
    color: white;
    cursor:pointer;
}
.header-cart{
	float:left;
	position: absolute;
	left: 1150px;
}
.header-cart a{
	text-decoration:none;
}
.header-cart span{
	color:white;
	font-size: 15px;
}
.header-cart i{
	font-size: 35px;
    margin-top: 20px;
    padding-left: 20px;
    color: white;
    cursor:pointer;
}

   /*Menu*/
.menu{
	width:100%;
	background:#2c3640;
}
.menu-content{
	width:1263px;
	background:#2c3640;
	margin:auto;
}
.menu ul{
	list-style:none;
	text-align:center;
}
.menu ul li{
	width: 180px;
	height: 65px;
	line-height: 65px;
	position: relative;
	display: inline-table;
	z-index:1;
}
.menu ul li a{
	text-decoration:none;
	display: block;
	color: white;
	font-weight: bold;
	font-size: 19px;
}
.menu ul li ul {
	position: absolute;
	display: none;
}
.menu ul li:hover > ul{
	display: block;
	background-color: #2c3640;
	opacity: 0.8;
}
.menu ul li:hover a{
	color:white;
}
.menu ul li ul li:hover a{
	opacity:0.6;
	color:white;
}

   /*End Menu*/
/*Start header*/



/*Start Slider*/

.slide-wraper{
	width:100%;
	height:100%;
	position:relative;
	overflow: hidden;
}
.thumb_nail {
    text-align: center;
    position:absolute;
    top: 85%;
    left:50%;
    transform: translateX(-50%);
}

.thumb_nail ul {
    display: inline;
}

.thumb_nail ul li {
    display: inline-block;
    border: 1px solid #a89999;
    text-indent: -99999px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 20px 7px;
    cursor: pointer;
    transition: 0.4s;
}

.thumb_nail ul li:hover {
    background-color: #ffffffa6;
}
.active{
	background:#ffffffa6;
}
/*start Slider-content*/

.slider{
	width:100%;
	height:100%;
}
.slider ul {
	position:relative;
	width:100%;
	height:100%;
}
.slider ul li{
	list-style:none;
	position:absolute;
	width:100%;
	height:100%;	
	opacity:0;
	transition:1s;
}
.slider ul .slide-active{
	opacity:1;
}
.single-slide{
	position:relative;
	width:100%;
	height:100%;
} 
.slide_img{
	width:100%;
	height:100%;
	background-size:cover;
}
.slide-text{
	position:absolute;
	z-index:1;
	top: 204px;
	left: 305px;
	color:white;
	opacity:0;
}
ul li.slide-active .single-slide .slide-text{
	opacity:1;
	animation : text_move 1s linear forwards;
}
 @keyframes text_move{
	from {left: -175px;opacity:0;}
    to {left: 300px;opacity:1;}
 }
.slide-text h2{
	font-size:30px;

}
.slide-text span{
	font-size:20px;
	line-height: 48px;
}
.slide-text a{
	text-decoration:none;

}
.slide-text .button-shopnow{
	width:130px;
	height:50px;
	line-height:20px;
	background:gray;
	cursor:pointer;
	border-radius:5px;
	color:white;
}
.button-shopnow p{
	font-size: 20px;
	text-align:center;
	line-height: 50px;
}
/*End Slider*/








/*Start brand*/
.brand{
	margin-top:100px;
	width:100%;
}
.brand-content{
	width:1263px;
	margin:auto;
}
.brand-content h2{
	text-align:center;
	font-size:40px;
	font-weight:bold;
	margin-bottom:55px;
	color:#000000b5;
}
.brand-item {
	width: 25%;
	float: left;
}
.brand-item p{
	text-align:center;
	font-size: 28px;
	margin-top: 15px;
	/* font-weight: bold; */
	cursor:pointer;
}
.brand-item-content{
	width: 295px;
	height: 230px;
	margin: auto;
	overflow:hidden;
}
.brand-item img{
    width: 295px;
    height: 230px;
    transition: all 0.5s linear;
    cursor:pointer;
}
.brand-item:hover img{
	transform: scale(1.2);
}
/*End brand*/

/*start advertisement*/
.advertisement{
	width:100%;
	height:593px;
	margin-top:100px;
	background-image: url("../images/adv.jpg");
	z-index:2;
	background-size:cover;
	background-position:center center;
}
.advertisement-content{
	position:relative;
	width:1263px;
	margin:auto;
}
.advertisement-content img{
	width:100%;
	margin:auto;
}
.advertisement-text{
	position:absolute;
	top: 50px;
	left: 72%;
	color: white;
	font-size: 30px;
	opacity:0;
}
.advertisement-text input{
	margin-top: 17px;
	width: 145px;
	height: 58px;
	font-size: 19px;
	font-weight:bold;
	text-align: center;
	margin-left: 7px;
	border-radius: 5px;
	background: #ffffffc7;
	cursor:pointer;
}

.up_content{
	animation: up 1s linear forwards;
}
 @keyframes up{
	from {top: 400px;opacity:0;}
    to {top: 50px;opacity:1;}
 }


/*End advertisement*/
/*Start sale*/

.sale{
	width:100%;
	margin-top:50px;
}
.sale-content{
	width: 1263px;
	margin:auto;
}
.sale-content h3{
	font-size:40px;
	font-weight:bold;
	text-align: center;
	color:#000000b5;
	margin-bottom: 20px;
}
.sale-content-item{
	width: 300px;
	height: 294px;
	float:left;
	/* margin: -26px 20px; */
	position:relative;
	margin-left: 7%;
}
.sale-content-item img{
    width: 300px;
    height: 208px;
}
.sale-content-item p{
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
}
.sale-content-item input{
	position:absolute;
	top: 50%;
	left: 37%;
	transform: translate(-50% ,-50%);
	border-radius: 5px;
	width: 105px;
	height: 45px;
	font-size: 15px;
	text-align: center;
	background: #635f5fed;
	border: none;
	display:none;
	cursor:pointer;
	color: wheat;
}
.sale-content-item:hover input{
	display:block;
}
.sale-content-item:hover img{
	opacity:0.6;
}
.sale-icon{
    font-size: 25px;
    width: 36px;
    height: 36px;
    background: #635f5fed;
    color: wheat;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 130px;
    left: 170px;
    display:none;
    cursor:pointer;
}

.sale-content-item:hover .sale-cart{
	display:block;
}
.sale-content-item:hover .sale-icon{
	display:block;
} 
.sale-content-item i{
	text-align:center;
	padding-top: 5px;
	text-align: center;
	font-size: 20px;
}
.sale-content #input-more{
    border: none;
    background: #786262d1;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    margin-left: 42%;
    color: white;
    cursor:pointer;
    margin-top: 40px;
}
.sale-content:hover #input-more{
	background:#635f5fed;
	color:wheat;
}


/*End sale*/


/*Start sport-adv*/
.sport-adv{
	width:100%;
	height:680PX;
	margin-top:100px;
	background-image: url("../images/adv1.png");
	z-index:2;
	background-size:cover;
	background-position:center center;
}
.sport-adv-content{
	position:relative;
	width:1263px;
	margin:auto;
}
.sport-adv-content img{
	width:100%;
	margin:auto;
}
.sport-adv-text{
	position:absolute;
	top: 175px;
	left: 5%;
	color: white;
	font-size: 30px;
	opacity:0;
}
.sport-adv-text p{
	text-align:center;
	font-size: 35px;
}
.sport-adv-text input{
	margin-top: 17px;
	width: 145px;
	height: 58px;
	font-size: 19px;
	font-weight:bold;
	text-align: center;
	margin-left: 7px;
	border-radius: 5px;
	background: #ffffffc7;
	cursor:pointer;
	margin-left: 69px;
}

.left_content{
	animation: turn_left 1s linear forwards;
}
 @keyframes turn_left{
	from {left: -176px;opacity:0;}
    to {left: 150px;opacity:1;}
 }
/*End sport-adv*/


/*Start new product*/
.new-product{
	width:100%;
	margin-top:111px;
}
.new-product-content{
	width: 1263px;
	margin:auto;
/*	border:1px solid red;*/
}
.new-product-content h3{
	font-size:40px;
	font-weight:bold;
	text-align: center;
	color:#000000b5;
	margin-bottom: 20px;
}
.new-product-item{
	width: 300px;
	height: 310px;
	float:left;
	/* margin: 31px 40px; */
	position:relative;
	/* padding-left: 60px; */
	margin-left: 7%;
	/* margin-top: 5px; */
}
.new-product-item img{
    width: 300px;
    height: 208px;
}
.new-product-item p{
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
}
.new-product-item input{
	position:absolute;
	top: 47%;
	left: 35%;
	transform: translate(-50% ,-50%);
	border-radius: 5px;
	width: 105px;
	height: 45px;
	font-size: 15px;
	text-align: center;
	background: #635f5fed;
	border: none;
	display:none;
	cursor:pointer;
	color: wheat;
}
.new-product-item:hover input{
	display:block;
}
.new-product-item:hover img{
	opacity:0.6;
}
.new-product-content #input-more{
    border: none;
    background: #786262d1;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    margin-left: 42%;
    color: white;
    cursor:pointer;
    margin-top: 44px;
}
.new-product-content:hover #input-more{
	background:#635f5fed;
	color:wheat;
}



.new-product-icon{
    font-size: 25px;
    width: 36px;
    height: 36px;
    background: #635f5fed;
    color: wheat;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 128px;
    left: 165px;
    display:none;
    cursor:pointer;
}

.new-product-item:hover .new-product-cart{
	display:block;
}
.new-product-item:hover .new-product-icon{
	display:block;
} 
.new-product-item i{
	text-align:center;
	padding-top: 5px;
    text-align: center;
    font-size: 20px;
}

/*End new product*/

/*Start store*/
.Our-store{
	width:100%;
	margin-top:150px;

}
.Our-store-title{
	width:1263px;
	margin:auto;
}
.Our-store-title h3{
	font-size:40px;
	font-weight:bold;
	text-align:center;
	margin-bottom:30px;
	cursor:pointer;
	color:#000000b5;
}
.Our-store-content{
	width:1263px;
	margin:auto;
	display:flex;
}
.Our-store-text{
	width:600px;
	text-align:center;
	font-size:32px;
	margin-bottom:20px;
	font-weight:bold;
	color:#615959;
	cursor:pointer;
}
.Our-store-text:hover{
	color:#0084cb;
}
.Our-store-item img{
	width: 600px;
	height: 500px;
	cursor:pointer;
	transition:0.4s;
}
.Our-store-img{
    width: 600px;
    height: 500px;
    overflow: hidden;
}
.Our-store-img:hover img{
	transform:scale(1.2);
}
#store-img2{
	padding-left: 63px;
}
/*End store*/

/*Start footer*/
.footer{
	margin-top: 50px;
	width:100%;
	background-color:#1c2632;
}
.footer-content{
	width:1263px;
	height:315px;
	margin:auto;
	
}
.footer-content p{
	font-size:16px;
	line-height: 37px;
}
.footer-item{
	width:21%;
	float:left;
	color:white;
	padding: 20px 0px;
	margin: 0px 27px;
}
.footer-item:last-child{
	margin:0px;
}
.footer-item h3{
	font-size:22px;
	margin-bottom:15px;
	color:wheat;
}
.footer-icon{
	float:left;
}
.footer-icon i{
	font-size: 35px;
	padding: 7px 6px;
}
.footer-item{
	position :relative;
}
.footer img{
	position:absolute;
	top: 165px;
	left: 0px;
}
.facebook-footer{
	width:300px;
	height: 230px;
	background:red;
}
/*End footer*/


/*start up to top*/

.up-top{
	z-index: 4;
	margin-left: 93%;
	width: 60px;
	height: 60px;
	position: fixed;
	top: 74%;
	background: #72827ee6;
	border-radius: 50%;
	transition:0.4s;
	opacity:0;
	visibility: hidden;
}
.up-top a{
	text-decoration:none;
	color: #6dab9ce6;
	position: relative;
}
.up-top i{
	font-size: 45px;
	text-align:center;
	position: absolute;
	top: 7px;
	left: 9px;
	color: white;
}
.show-uptotop{
	opacity:1;
	visibility:visible;
}
/*End up to top*/

/*start sale pop-up*/

.sale-popup{
	background: #00000094;
	z-index:4;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	transition:0.4s;
}
.popup-title{
	text-align:center;
	padding-top:5px;
	font-size:25px;
	padding-bottom: 35px;
}
.sale-popup-content{
	width: 900px;
	height: 400px;
	margin:auto;
	background: white;
	opacity:0;
	visibility:hidden;
	transition:0.4s;
	position:fixed;
	top: 50%;
	left: 50%;
	z-index:4;
	transform: translate(-50%,-50%);
	border-radius: 10px;
}
.sale-popup p{
	margin-top:50px;
	font-size:25px;
	text-align:center;
	margin-bottom:38px;
}
.sale-popup-content img{
    width: 335px;
    height: auto;
    margin-top: 22px;
    margin-left: 20px;
    float: left;
}
.sale-popup-content span{
	margin-top:20px;
}
.button-buy{
	width:200px;
	height:50px;
	background:gray;
	position:absolute;
	top: 265px;
	left:500px;
	border-radius:5px;
	cursor:pointer;
}
.button-buy p{
	text-align:center;
	font-size: 24px;
	color:wheat;
	margin: 8px 0px 0px -5px;
}
.show-popup{
	opacity:1;
	visibility:visible;
}
	/*End sale pop-up*/

 /* Start fly cart*/
body{
 	position:relative;
 }
.product-fly-cart{
    position: absolute;
    z-index: 300;
    width: 64px !important;
    height: 50px !important;
    border-radius: 50%;
    transition: all 2s linear;
}
/* End fly cart*/
.disable{
	pointer-events: none;
	cursor:not-allowed;
}
.show_menu{
	position:fixed;
	top:0;
	width:100%;
	margin:auto;
	z-index:333333;
	transition: 0.4s;
}
/*Start cart popup*/
.cart-popup{
	background: #00000094;
	z-index:4;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	transition:0.4s;
}
.cart-popup-content{
    width: 444px;
    height: 310px;
    margin: auto;
    background: white;
    transition: 0.4s;
    position: fixed;
    top: 221px;
    left: 1039px;
    z-index:4;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    opacity:0;
    visibility:hidden;
}
.cart-popup-title{
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    padding-bottom: 35px;
}
.cart-popup-title i{
	color:green;
}
.cart-popup-images{
	float:left;
}
.cart-popup-images img{
	width:180px;
	height:auto;
}
.cart-popup-detail{
	float:left;
	width: 58%;
	padding-left: 45px;
}
.cart-view{
    position: absolute;
    top: 160px;
    left: 50%;
    width: 144px;
    height: 47px;
    background: #2c3640;
    text-align: center;
    cursor:pointer;
    border-radius:5px;
}
.cart-view a{
	text-decoration:none;
	color:white;
}
.cart-view span{
	 line-height: 45px;
	 font-size:20px;
}
.show_cart{
	opacity:1;
	visibility:visible;
}
/*Start cart popup*/
