
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <label>Name: </label><input type="text" class="form-control" [(ngModel)]="name">
    <label>Price: </label><input type="number" class="form-control" [(ngModel)]="price">
    <hr>
    <button 
          class="btn btn-primary" 
          [routerLink]="['/products']"
          [queryParams]="{name: name ? name : '', price: price ? price : ''}"
    >Search</button> 
    
    <button 
          type="button" 
          class="btn btn-danger" 
          [routerLink]="['/products']"
          (click)="onSearch()" >Search</button>
    
  </div>
</div>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor=" let item of products" [routerLink]= "['/products', item.id]">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.price | currency :'VND' :true }}</td>
      <td [style.color] = "item.status ? 'blue' : 'red' ">{{item.status ? 'On stock' : 'Sold out'}}</td>
    </tr>
  </tbody>
</table>
