<form action="" method="post" role="form" [formGroup]="formUser">
  <legend>Edit course</legend>
  <div class="form-group">
    <label for="">Name</label>
    <input type="text"
           class="form-control"
           [(ngModel)]="course.name"
           formControlName="userName"
    >
    <div class="alert alert-danger" role="alert"
         *ngIf="formUser.controls['userName'].dirty && formUser.controls['userName'].errors?.required">
        Bạn cần nhập vào dữ liệu
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="formUser.controls['userName'].dirty && formUser.controls['userName'].errors?.minlength"
    >
      Bạn cần nhập đúng số ký tự (tối thiểu là 5)
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="formUser.controls['userName'].dirty && formUser.controls['userName'].errors?.maxlength"
    >
      Bạn cần nhập đúng số ký tự (tối đa là 20)
    </div>
  </div>
  <div class="form-group">
    <label for="">Price</label>
    <input type="text"
           class="form-control"
           [(ngModel)]="course.price"
           formControlName="userPrice"
    >
    <div class="alert alert-danger" role="alert"
         *ngIf="formUser.controls['userPrice'].dirty && formUser.controls['userPrice'].errors?.required"
    >
      Bạn cần nhập vào dữ liệu
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="formUser.controls['userPrice'].dirty && formUser.controls['userPrice'].errors?.pattern"
    >
      Bạn cần nhập vào kiểu dữ liệu là số
    </div>
  </div>
  <div class="form-group">
    <label for="">Description</label>
    <textarea class="form-control" row="3"
              [(ngModel)]="course.description"
              formControlName="userDescription"
    ></textarea>
    <div class="alert alert-danger" role="alert"
         *ngIf="formUser.controls['userDescription'].dirty && formUser.controls['userDescription'].errors?.required"
    >
      Bạn cần nhập vào dữ liệu
    </div>
  </div>

  <button type="submit" class="btn btn-primary" style="margin-top: 30px;" (click)="onEdit()">Save</button>
</form>
