
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions] ="{exact: true}"><a class="nav-link" [routerLink]="['/']" translate>Login</a></li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['/home']" translate>Home</a></li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['/about']" translate>About</a></li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" [routerLink]="['/contact']" translate>Contact</a></li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions] ="{exact: true}"><a class="nav-link" [routerLink]="['/courses']" translate>Courses</a></li>
      <div class="dropdown">
        <a class="btn dropdown-toggle text-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lang
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" (click)="switchLanguage('en')">EN</a>
          <a class="dropdown-item" (click)="switchLanguage('vi')">VI</a>
        </div>
      </div>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions] ="{exact: true}"><a class="nav-link" [routerLink]="['/']" (click)="onLogOut()" translate>Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
          <ng4-loading-spinner> </ng4-loading-spinner>
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>

</div>

