body{
	margin: 0;
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
}
.clear{
	clear: both;
}
/* Start Header css */
.header{
	width: 100%;
	background-color: #b06010;
	padding:10px 0; 
}
.header-content{
	width: 80%;
	margin: 0 auto;
	color: white;
	background-color: #b06010;
	height: 20px;
}

/* End Header css */
/*Start Navigation*/
.myNavbar{
	width: 100%;
	margin-top: -35px;
	margin-bottom: 30px;
	background-color: black;
	height: 50px;
}
.myNavbar-content{
	width: 50%;
	margin: auto;
}
#menu ul{
  list-style: none;
  padding-left: 0px;
}
#menu ul li{
  width: 120px;
  height:50px;
  line-height:50px;
  text-align: center;
  float: left;
  position: relative;
  width: 150px;
}
#menu ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#menu ul li:hover{
  background-color: black;
}
#menu ul:hover li{
	 background-color: black;
}
#menu ul li:hover a{
  color:#b06010;

}
#menu ul ul{
  display: none;
   background-color: black;

}
#menu ul li:hover > ul{
  display: block;
}
#menu ul ul ul{
  margin-left: 150px;
  top:0;
  position: absolute;
}
/* End Navigation */
/*Start Table*/
.table{
	width: 100%;
	margin-top: 50px;
}
.table-content{
	width: 80%;
}
.table-content span{
	margin-left: 295px;
	font-size: 30px;
}
.table-content-item{
	width: 50%;
	padding-left: 20px;
}
.table-content-item h3{
	margin-left: 123px;
}
.map{
	width: 40%;
	float: left;
}

/*End Table*/

/* Start Foooter css */
.footer{
	margin-top: 50px;
	width: 100%;
	background: black;
	padding-top:3rem;
}
.footer-content{
	width: 80%;
	margin:auto;
	padding-bottom: 4rem;
}
.footer-detail{
	float: left;
	width: 30%;
	color: white;
}
.footer-contact{
	width: 40%;
}
.footer-detail h2{
	font-weight: 200;
	font-size: 2.2rem;
}
.footer-detail p{
	color: #7c7c7c;
}
.footer-detail p i{
	margin-right: 1rem;
}
.footer-contact p{
	padding-right: 8rem;
	margin-bottom:1.5rem;
	line-height: 1.5rem;
}
.footer-about-us p{
	line-height: 1.6rem;
	padding-right: 2rem;
}
.footer-news i{
	color: #204b87;
}
.footer-news p{
	font-size:0.9rem;
}

.copy-right{
	width: 100%;
	background-color: #111;
	text-align: center;
	height: 3rem;
}
.copy-right p{
	margin:0;
	color: white;
	line-height: 3rem;
}
.copy-right b{
	color:#b06010;
	font-weight: 200;
	text-decoration: underline;
}
.social{
	margin-left: 15px;
	padding-top: 1.2rem;
	width: 20%;
}
.social-item{
	width: 1.8rem;
	height: 1.8rem;
	float: left;
	margin-right: 0.5rem;
	color: white;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
}
.social-item i{
	padding-left:0.5rem;
	padding-top:0.5rem;
}
.fb-social{
	background-color: #3b5998;
}
.tw-social{
	background-color: #1da1f2;
}
.gg-social{
	background-color: #ee6d9f;
}
/* End Foooter css */